<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="siftscience.android">
    <!--
        This permission is required to allow the application to send events to Sift.
    -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
        The following permissions are configurable.
        The SDK will not request permissions that are not granted by the user
        from your application.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:node="remove"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" tools:node="remove"/>
    <application />
</manifest>
